---

interface Props {
	title: string;
	href: string;
	img: string;
	alt: string;
	icon: string;
}

const { href, title, img, alt, icon } = Astro.props;
---

<div class="w-[250px] h-[300px] bg-colors-lightest rounded-2xl shadow-[4px_6px_4px_rgba(0,0,0,0.10)] border border-colors-dark ">
	<a href={href} class="no-underline">
		<div class="flex flex-col justify-center items-center gap-2 mt-6">
			<div class="w-[120px] h-[120px] rounded-full bg-colors-lightest flex items-center justify-center mt-[30px] border-0">
				<img src={img} alt={alt} class="w-[110px] h-[110px]" />
			</div>
			<div class="mt-[35px] mb-[50px] w-[205px] h-[56px] border border-colors-dark rounded-2xl font-bold text-colors-darkest text-left text-sm">
				<a href={href} class="flex justify-between items-center alingn-center p-4 gap-2">
					<h1>{title}</h1>
					<img src={icon} alt={alt}>
				</a>	
			</div>
		</div>
	</a>
</div>