---

interface Props {
	title: string;
	href: string;
	img: string;
	alt: string;
	icon: string;
}

const { href, title, img, alt, icon } = Astro.props;
---

<div class="w-[15vw] h-[38vh] bg-colors-lightest rounded-2xl shadow-[4px_6px_4px_rgba(0,0,0,0.10)] border border-colors-dark ">
	<a href={href} class="no-underline cursor-pointer">
		<div class="flex flex-col justify-center items-center gap-2 mt-[6vh]">
			<div class="w-[8vw] h-[8vh] rounded-full bg-colors-lightest flex items-center justify-center mt-[30px] border-0">
				<img src={img} alt={alt} class="w-[11vw] h-[15vh] cursor-pointer" />
			</div>
			<div class="mt-[6vh] w-[13vw] h-[6.8vh] border border-colors-dark rounded-2xl font-bold text-colors-darkest text-left text-sm">
				<a href={href} class="flex justify-between items-center align-center p-[1.9vh] gap-2 cursor-pointer">
					<h1 class="cursor-pointer">{title}</h1>
					<img class="w-5 h-5 cursor-pointer" src={icon} alt={alt}>
				</a>	
			</div>
		</div>
	</a>
</div>