---
import { Image } from "astro:assets";
import ImageOrtodoncia from "../../public/assets/OrtodonciaImg.png";
import ButtonBack from "./Buttons/ButtonBack.astro";
import ButtonNext from "./Buttons/ButtonNext.astro";
import ButtonBackServices from "./Buttons/ButtonService.astro";
import ButtonVideo from "./Buttons/ButtonVideo.astro";
import { getI18N } from "../i18n";
import { getLangFromUrl } from "../i18n";

interface Props {
  title: string;
  subtitle1: string;
  text1: string;
  subtitle2: string;
  text2: string;
  subtitle3: string;
  text3: string;
  subtitle4: string;
  text4: string;
}

const { title, subtitle1, text1, subtitle2, text2, subtitle3, text3, subtitle4, text4 } = Astro.props;

const { currentLocale } = Astro;
const i18n = await getI18N({ currentLocale })
const languages = getLangFromUrl(Astro.url);
---

<section class="w-full h-[88vh] flex flex-col">
  <article class="flex flex-col w-[100vw] h-[100%] overflow-hidden relative">
    <!-- Contenedor título y botones 10% -->
    <div class="flex justify-between mt-3 mb-5 px-10 h-[10%]">
      <ButtonBack pathBack={`${languages}/services`} buttonText={i18n.BUTTON_BACK} />
      <h1 class="text-3xl font-bold text-colors-darkest text-center">
        {title}
      </h1>
      <ButtonNext pathNext={`${languages}/invisibleortho`} buttonText={i18n.BUTTON_NEXT} />
    </div>

    <!-- Contenedor texto, botones, imagen de servicio e imagen decorativa 90% -->
    <div class="flex flex-col h-[90%]">
      <!-- Contenedor texto, botones e imagen de servicio -->
      <div class="flex justify-between items-center">
        <!-- Contenedor descripcion servicio -->
        <div class="prose flex flex-col justify-between gap-3 pl-14">
          <article>
            <h3 class="text-lg font-bold m-0 text-colors-darkest">
              {subtitle1}
            </h3>
            <p class="text-sm text-pretty font-normal text-colors-almost-black">
              {text1}
            </p>
          </article>

          <article>
            <h3 class="text-lg font-bold m-0 text-colors-darkest">
              {subtitle2}
            </h3>
            <p class="text-sm text-pretty font-normal text-colors-almost-black">
              {text2}
            </p>
          </article>

          <article>
            <h3 class="text-lg font-bold m-0 text-colors-darkest">
              {subtitle3}
            </h3>
            <p class="text-sm text-pretty font-normal text-colors-almost-black">
              {text3}
            </p>
          </article>

          <article>
            <h3 class="text-lg font-bold m-0 text-colors-darkest">
              {subtitle4}
            </h3>
            <p class="text-sm text-pretty font-normal text-colors-almost-black">
              {text4}
            </p>
          </article>

          <div>
            <ButtonBackServices buttonText={i18n.BUTTON_BACKSERVICES} />
          </div>
        </div>

        <!-- Contenedor del boton para ver el video -->
        <div class="flex h-[40%] items-end">
          <ButtonVideo buttonText={i18n.BUTTON_WATCH_VIDEO} />
        </div>

        <!-- Contenedor imagen de ortodoncia -->
        <div class="relative overflow-hidden">
          <Image
            src={ImageOrtodoncia}
            alt="Ilustración del servicio Ortodoncia"
            class="rounded-full w-[100%] h-[32vw] transform translate-x-[10%]"
          />
        </div>
      </div>

      <!-- SVG en la parte inferior (decorativo) -->
      <div class="flex items-end -z-10">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="full"
          height="610"
          fill="none"
          class="absolute bottom-[-12vh] right-[-32vw]"
          ><path
            fill="#D7F0ED"
            d="M1309 370.364c0 251.263-103.07 215.815-598.569 215.815-552.751 0-901.084 126.674-598.568-215.815 82.857-93.807 228.568-7.484 598.568-215.815C996.931-6.767 1309-167.088 1309 370.364Z"
          ></path></svg
        >
      </div>

    </div>

  </article>
</section>
