---
import { Image } from "astro:assets";
import ImageRehabOral from "../../public/assets/RehabilitacionOralImg.png";
import ButtonBack from "./Buttons/ButtonBack.astro";
import ButtonNext from "./Buttons/ButtonNext.astro";
import ButtonBackServices from "./Buttons/ButtonService.astro";
import ButtonVideo from "./Buttons/ButtonVideo.astro";
import { getI18N } from "../i18n";
import { getLangFromUrl } from "../i18n";

interface Props {
  title: string;
  subtitle1: string;
  text1: string;
  subtitle2: string;
  text2: string;
  subtitle3: string;
  text3: string;
}

const { title, subtitle1, text1, subtitle2, text2, subtitle3, text3 } = Astro.props;

const { currentLocale } = Astro;
const i18n = await getI18N({ currentLocale })
const languages = getLangFromUrl(Astro.url);
---

<section class="w-full h-[88vh] flex flex-col">
  <article class="flex flex-col w-[100vw] h-[100%] overflow-hidden relative">
    <!-- Contenedor título y botones 10% -->
    <div class="flex justify-between mt-3 mb-5 px-10 h-[10%]">
      <ButtonBack pathBack={`${languages}/invisibleortho`} buttonText={i18n.BUTTON_BACK} />
      <h1 class="text-3xl font-bold text-colors-darkest text-center">
        {title}
      </h1>
      <ButtonNext pathNext={`${languages}/implants`} buttonText={i18n.BUTTON_NEXT} />
    </div>

    <!-- Contenedor texto, botones, imagen de servicio e imagen decorativa 90% -->
    <div class="flex flex-col h-[90%]">
      <!-- Contenedor texto, botones e imagen de servicio -->
      <div class="flex justify-between items-center">
        <!-- Contenedor descripcion servicio -->
        <div class="prose flex flex-col justify-between gap-3 pl-14">
          <article>
            <h3 class="text-lg font-bold m-0 text-colors-darkest">
              {subtitle1}
            </h3>
            <p
              class="text-sm text-pretty m-0 font-normal text-colors-almost-black mb-4"
            >
              {text1}
            </p>
          </article>

          <article>
            <h3 class="text-lg font-bold m-0 text-colors-darkest">
              {subtitle2}
            </h3>
            <p
              class="text-sm text-pretty m-0 font-normal text-colors-almost-black mb-4"
            >
              {text2}
            </p>
          </article>

          <article>
            <h3 class="text-lg font-bold m-0 text-colors-darkest">
              {subtitle3}
            </h3>
            <p
              class="text-sm text-pretty m-0 font-normal text-colors-almost-black mb-4"
            >
              {text3}
            </p>
          </article>

          <div>
            <ButtonBackServices buttonText={i18n.BUTTON_BACKSERVICES} />
          </div>
        </div>

        <!-- Contenedor del boton para ver el video -->
        <div class="flex h-[40%] items-end">
          <ButtonVideo buttonText={i18n.BUTTON_WATCH_VIDEO} />
        </div>

        <!-- Contenedor imagen de rehabilitacion oral -->
        <div class="relative overflow-hidden">
          <Image
            src={ImageRehabOral}
            alt="Ilustración del Servicio de Rehabilitación Oral"
            class="rounded-full w-[100%] h-[32vw] transform translate-x-[10%]"
          />
        </div>
      </div>

      <!-- SVG en la parte inferior (decorativo) -->
      <div class="flex items-end -z-10">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1358"
          height="901"
          viewBox="0 0 1358 901"
          fill="none"
          class="absolute bottom-[-14vh] right-[-3vw]"
        >
          <path
            d="M1344.14 544.406C1356.77 855.091 1356.77 851.068 987.668 881.441C-4.54699 963.089 -308.03 770.513 348.333 646.409C1004.7 522.306 732.813 310.224 1098.62 70.5173C1464.42 -169.19 1332.4 255.834 1344.14 544.406Z"
            fill="#D7F0ED"></path>
        </svg>
      </div>
    </div>
  </article>
</section>
