---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import { getI18N } from "../i18n";

interface Props {
  title: string;
}

const { title } = Astro.props;

const { currentLocale } = Astro;
const i18n = await getI18N({ currentLocale });
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/RC-Dental/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/src/styles/_globals.css" />
    <link rel="stylesheet" href="/RC-Dental/_astro/styles.css" />
    <title>RC Dental - {title}</title>
    <ViewTransitions />
  </head>
  <body class="min-h-screen overflow-x-hidden">
    <Header
      title={i18n.HEADER_TITLE}
      nav1={i18n.HEADER_NAV_1}
      nav2={i18n.HEADER_NAV_2}
      nav3={i18n.HEADER_NAV_3}
      nav4={i18n.HEADER_NAV_4}
    />
    <main class="pt-[12vh]">
      <slot />
    </main>
  </body>
</html>
